apiVersion: v1
kind: Secret
metadata:
  name: {{ .Service.SecretName }}
  namespace: {{ .Service.Namespace }}
  labels:
    opsi.io/managed: "true"
    opsi.io/project-id: {{ .Service.ProjectID }}
    opsi.io/service-id: {{ .Service.ID }}
    opsi.io/service-name: {{ .Service.Name }}
    opsi.io/service-type: {{ .Service.Type }}
    opsi.io/service-mode: {{ .Service.Mode }}
type: Opaque
stringData:
{{- range $key, $value := .Env }}
  {{ $key }}: {{ printf "%q" $value }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Service.ConfigMapName }}
  namespace: {{ .Service.Namespace }}
  labels:
    opsi.io/managed: "true"
    opsi.io/project-id: {{ .Service.ProjectID }}
    opsi.io/service-id: {{ .Service.ID }}
    opsi.io/service-name: {{ .Service.Name }}
    opsi.io/service-type: {{ .Service.Type }}
    opsi.io/service-mode: {{ .Service.Mode }}
data:
  SERVICE_TYPE: {{ printf "%q" .Service.Type }}
  SERVICE_VERSION: {{ printf "%q" .Service.Version }}
  SERVICE_HOST: {{ printf "%q" .Service.Host }}
  SERVICE_PORT: {{ printf "%q" .Service.Port }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Service.Name }}
  namespace: {{ .Service.Namespace }}
  labels:
    opsi.io/managed: "true"
    opsi.io/project-id: {{ .Service.ProjectID }}
    opsi.io/service-id: {{ .Service.ID }}
    opsi.io/service-name: {{ .Service.Name }}
    opsi.io/service-type: {{ .Service.Type }}
    opsi.io/service-mode: {{ .Service.Mode }}
spec:
  ports:
    - name: redis
      port: {{ .Service.Port }}
      targetPort: {{ .Service.Port }}
  selector:
    app.kubernetes.io/name: {{ .Service.Name }}
    opsi.io/project-id: {{ .Service.ProjectID }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Service.Name }}
  namespace: {{ .Service.Namespace }}
  labels:
    opsi.io/managed: "true"
    opsi.io/project-id: {{ .Service.ProjectID }}
    opsi.io/service-id: {{ .Service.ID }}
    opsi.io/service-name: {{ .Service.Name }}
    opsi.io/service-type: {{ .Service.Type }}
    opsi.io/service-mode: {{ .Service.Mode }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Service.Name }}
      opsi.io/project-id: {{ .Service.ProjectID }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Service.Name }}
        opsi.io/managed: "true"
        opsi.io/project-id: {{ .Service.ProjectID }}
        opsi.io/service-id: {{ .Service.ID }}
        opsi.io/service-name: {{ .Service.Name }}
        opsi.io/service-type: {{ .Service.Type }}
        opsi.io/service-mode: {{ .Service.Mode }}
    spec:
      containers:
        - name: redis
          image: redis:{{ index .Service.Config "version" }}
          ports:
            - containerPort: {{ .Service.Port }}
          args:
            - "--maxmemory"
            - {{ printf "%q" (index .Service.Config "max_memory") }}
